<% include ./partials/header %>
<div class="login">
  <div class="container">
    <div class="row">
      <div class="col s6 welcome">
        <h2>Welcome</h2>
        <p>Login to get started and<br> watch some videos</p>
      </div>
      <div class="col s6">
        <div class="row">
          <div class="col s12">
            here

          </div>

        </div>
        <div class="row">
          <form class="col s12">
            <div class="row">
              <div class="row">
                <div class="input-field col s12">
                  <input  type="text" class="validate" placeholder="email">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input  type="password" class="validate" placeholder="password">
                </div>
              </div>
            </div>
            <a class="waves-effect waves-light btn-large">login</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




























<% include partials/footer %>
