<% include partials/header %>
<div id="bgone">
  <div class="list">
    <div class="container">
    <ul>
      <li><i class="material-icons">play_arrow</i></li>
      <li>Select</li>
      <li>Play</li>
      <li>Enjoy</li>
    </ul>
  </div>
  </div>

</div>



<% include partials/footer %>
