<% include ./partials/header %>
<div id="bgone">
  <div class="list">
    <div class="container">
    <ul>
      <li><i class="material-icons">play_arrow</i></li>
      <li>Select</li>
      <li class="select">Play</li>
      <li class="select">Enjoy</li>
    </ul>
  </div>
  </div>
</div>
<div class="container">
  <div class="drop">
    <p>Filter</p>
    <form >
      <select>
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <input type="text" placeholder="Select category">
    </form>
  </div>
  <div class="videos">
    <div class="row">
      <div class="col m4 s12 ">
        <div class="video1">
        <video  controls>
        <source src="https://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.mp4" type="video/mp4">
        <source src="https://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.ogg" type="video/ogg">
        Your browser does not support the video tag.
        </video>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M8 5v14l11-7z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        <div class="text">
        <h6>Apply mechandising techniques</h6>
        <hr>
        <p>
          Product range and availability.Product display<br>
          Price competitiveness,point-of-sale<br>
          attractiveness & Best use of available place
        </p>
      </div>
      </div>
      </div>
      <div class="col m4 s12">
        <div class="video1">
        <video  controls>
        <source src="https://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_2mb.mp4" type="video/mp4">
        <source src="https://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_2mb.ogg" type="video/ogg">
        Your browser does not support the video tag.
        </video>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M8 5v14l11-7z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        <div class="text">
        <h6>Apply mechandising techniques</h6>
        <hr>
        <p>
          Product range and availability.Product display<br>
          Price competitiveness,point-of-sale<br>
          attractiveness & Best use of available place
        </p>
      </div>
      </div>
      </div>
      <div class="col m4 s12">
        <div class="video1">
        <video controls>
        <source src="https://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.mp4" type="video/mp4">
        <source src="https://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.ogg" type="video/ogg">
        Your browser does not support the video tag.
        </video>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M8 5v14l11-7z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        <div class="text">
        <h6>Apply mechandising techniques</h6>
        <hr>
        <p>
          Product range and availability.Product display<br>
          Price competitiveness,point-of-sale<br>
          attractiveness & Best use of available place
        </p>
      </div>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col m4 s12">
        <div class="video1">
        <video controls>
        <source src="https://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.mp4" type="video/mp4">
        <source src="https://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.ogg" type="video/ogg">
        Your browser does not support the video tag.
        </video>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M8 5v14l11-7z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        <div class="text">
        <h6>Apply mechandising techniques</h6>
        <hr>
        <p>
          Product range and availability.Product display<br>
          Price competitiveness,point-of-sale<br>
          attractiveness & Best use of available place
        </p>
      </div>
      </div>
    </div>
      <div class="col m4 s12">
        <div class="video1">
        <video controls>
        <source src="https://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.mp4" type="video/mp4">
        <source src="https://www.sample-videos.com/video/mp4/720/big_buck_bunny_720p_1mb.ogg" type="video/ogg">
        Your browser does not support the video tag.
        </video>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
          <path d="M8 5v14l11-7z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        <div class="text">
        <h6>Apply mechandising techniques</h6>
        <hr>
        <p>
          Product range and availability.Product display<br>
          Price competitiveness,point-of-sale<br>
          attractiveness & Best use of available place
        </p>
      </div>
      </div>
    </div>
      <div class="col m4 s12">
      </div>

    </div>

  </div>



</div>



<% include partials/footer %>
