.red{1px solid red;}
.blue{1px dashed blue;}
.login{background-color:#f0f0f0;height: -webkit-fill-available;}
.welcome{background-image: url(/assets/5.png);color:#fff;}
.welcome h2::after{content:'';display: block;background-color:#fff;width:50px;height:5px;margin-top: 5px}
/*hr{width:50px;border: 2px solid #fff;border-radius: 42%;}*/
form .waves-effect{background-color:#ff5252}
