.redish{border:1px solid red;}
.blueish{border:1px dashed blue;}
/*body{background-color:#f0f0f0;}*/
.welcome{background-image: url(/assets/login.png);background-size: cover;color:#fff;height:500px;padding-top:50px;}
.welcome h2::after{content:'';display: block;background-color:#fff;width:50px;height:5px;margin-top: 5px;text-align: center;}
/*hr{width:50px;border: 2px solid #fff;border-radius: 42%;}*/
form button{background-color:#ff5252;text-transform:lowercase;width:160px;height:40px;border-radius:20px;color:white;border:none;}
button:focus{background-color:#ff5252;}
#section1{padding-top: 170px}
.section1{height:200px;border-radius: 100px;}
.welcome center{padding-top:135px }
center i{color: #f8da46;padding-top: 70px}
.form{background-color: #fff;height:500px}
/*main page*/
#bgone{background-image: url(../assets/hero.png);min-height:90px;margin-bottom:30px}
li{float:left;color:#fff;padding-top: 20px;font-size: 1.5em;width:100px}
.list i{font-size:1.5em;}
.list .select{list-style:disc;}
input{width:50%}
hr{color:#f2f2f2;margin-top:15px}
.video1 img{max-width:100%}
.text{padding:0 15px 15px 15px}
svg{text-align: center;}
.video1{box-shadow:0 0px 10px rgba(0,0,0,.3);}
video{width:100%;height:100%}
.input-field{width:40%}
.video1 i{color:#f8da46;font-size: 40px;float:right;}











@media all and (min-width: 0) and (max-width: 360px) and (orientation: portrait) {
    #section1{padding-top: 10px}
.welcome{background-image: url(/assets/login.png);background-size: cover;color:#fff;height:200px;padding-top:10px;}
.welcome center{padding-top:2px }
center i{color: #f8da46;padding-top:10px}
.form{background-color: #fff;height:335px;margin-top:10px}
form button{padding-top:5px;margin-bottom: 10px}
.video1{margin-top:10px;margin-bottom:10px}
#bgone{min-height:165px}
ul{text-align: center;}
li{float:unset;padding-top: unset}
.input-field{width:100%}







  }
